failover peer "failover-partner" {
  primary;
  address 10.96.6.1;
  port 647;
  peer address 10.96.6.2;
  peer port 647;
  max-response-delay 10;
  max-unacked-updates 10;
  mclt 3600;
  split 128;
  load balance max seconds 5;
}